body {
    position:relative;
    font-size: 18px;
    color: white;
    background-color:rgb(231, 231, 231);
}
.navbar-brand {
    background: rgb(1, 168, 168);
    color:white;
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}
.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
}
.row {
    background-color:white
}
h1 {
    color: rgb(1, 168, 168)
}
.Col_container{
    margin:30px; 
  }
.container1 {
    position:relative;
    margin-top: 10px ;
    margin-left: 10px ;
    margin-right: 10px ;
    padding: 5px;
    display: inline-block;
}
p {
    color:rgb(32, 91, 216);
    position:relative;
}
h2 {
    color: rgb(1, 168, 168)
}
.container2 {
    position:relative;
    margin-top: 10px ;
    margin-left: 10px ;
    margin-right: 10px ;
    padding: 5px;
    display: inline-block;
}
h4 {
    color: rgb(1, 168, 168)
}
